{{> header}}
{{> navbar}}
<div class="container mtLarge">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active">Summary</li>
      </ol>
      <div class="row">
        <div class="col-md-8">
          <h2 class="page-header align-header">Step 7 Summary :: Sales</h2>
          {{> flash_message}}
          <div class="row well">
            <table class="table table-bordered">
              <thead>
                <th style="text-align:center">Item</th>
                <th style="text-align:center">Amount</th>
              </thead>
              <tbody>
                <tr>
                  <td>Fuels</td>
                  <td style="text-align:right">
                    {{#currency}}
                    {{summary.fuels}}
                    {{/currency}}
                  </td>
                </tr>
                <tr>
                  <td>Lubes</td>
                  <td style="text-align:right">
                    {{#currency}}
                    {{summary.lubes}}
                    {{/currency}}
                  </td>
                </tr>
                <tr>
                  <td>Others</td>
                  <td style="text-align:right">
                    {{#currency}}
                    {{summary.others}}
                    {{/currency}}
                  </td>
                </tr>
                <tr>
                  <td><strong>Total Sales</strong></td>
                  <td style="text-align:right">
                    <strong>
                    {{#currency}}
                    {{summary.total_sales}}
                    {{/currency}}
                    </strong>
                  </td>
                </tr>
                <tr>
                  <td>Expenses</td>
                  <td style="text-align:right">
                    (-) {{#currency}}
                    {{summary.expenses}}
                    {{/currency}}
                  </td>
                </tr>
                <tr>
                  <td><strong>Balance</strong></td>
                  <td style="text-align:right">
                    <strong>
                    {{#currency}}
                    {{summary.balance}}
                    {{/currency}}
                    </strong>
                  </td>
                </tr>
                <tr>
                  <td>Receipts</td>
                  <td style="text-align:right">
                    (+) {{#currency}}
                    {{summary.receipts}}
                    {{/currency}}
                  </td>
                </tr>
                <tfoot>
                  <tr>
                    <td><strong>Final Balance</strong></td>
                    <td style="text-align:right">
                      <strong>
                      {{#currency}}
                      {{summary.final_balance}}
                      {{/currency}}
                      </strong>
                    </td>
                  </tr>
                </tfoot>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          {{> sales_steps}}
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}