		<!--Third Party Scripts-->
    <script src="{{static_url}}/js/jquery-1.11.2.min.js"></script>
		<script src="{{static_url}}/js/jquery-migrate-1.2.1.min.js"></script>
    <!--Main Script-->
    <script type="text/javascript" src="{{static_url}}/js/main.va5e85bd33db14bab5f518dedbefb0b6e.min.js"></script>
    <script type="text/javascript" src="{{static_url}}/js/scripts.js"></script>
  </body>
</html>