{{> header}}
{{> navbar}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="sub-header">Dashboard</h2>
      <div class="row">
        <div class="col-md-8">
          <h3 class="sub-header">Usage Analytics</h3>
          {{> highcharts}}
        </div>
        <div class="col-md-4">
          <h3 class="sub-header">Audit logs</h3>
          {{> audit_logs_for_dashboard}}
          <a href="/audit-logs" class="pull-right btn btn-primary">View all</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <h3 class="sub-header">Customers</h3>
          {{> customers_list}}
          <a href="/customers" class="pull-right btn btn-primary slight-margin">View all</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
<script type="text/javascript" src="{{static_url}}/js/charts.js"></script>