{{> header}}
{{> navbar}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/staffs">Staffs</a></li>
        <li class="active">{{^staff._id}}Add{{/staff._id}}{{#staff._id}}Edit{{/staff._id}} Staff</li>
      </ol>
      <h2 class="sub-header">{{^staff._id}}Add{{/staff._id}}{{#staff._id}}Edit{{/staff._id}} Staff</h2>
      <div class="row">
        <div class="col-md-6">
          <form method="post" action="{{^staff._id}}/add-staff{{/staff._id}}{{#staff._id}}/edit-staff/{{.}}{{/staff._id}}" role="form">
            {{> flash_message}}
            <input type="hidden" name="_csrf" value="{{csrf_token}}">
            <fieldset>
              <div class="form-group">
                <label for="staff_name">Staff name</label>
                <input required="required" type="text" value="{{staff.staff_name}}" class="form-control" id="staff_name" name="staff_name" placeholder="Staff name" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="staff_type">Staff role</label>
                <select id="staff_type" name="staff_type">
                  {{#staff_types}}
                  <option value="{{key}}" {{#selected}}SELECTED="SELECTED"{{/selected}}>{{value}}</option>
                  {{/staff_types}}
                </select>
              </div>
              <div class="form-group">
                <label for="referrer">Referrer</label>
                <input type="text" value="{{staff.referrer}}" class="form-control" id="referrer" name="referrer" placeholder="Referrer">
              </div>
              <div class="well">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" value="{{staff.phone}}" class="form-control" id="phone" name="phone" placeholder="Phone" required="required" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea required="required" class="form-control" id="address" name="address" placeholder="Address">{{staff.address}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="doj">Date of Joining</label>
                <div class="datepicker input-group date">
                  <input type="text" class="form-control" value="{{staff.doj}}" required="required" name="doj" id="doj" autocomplete="off">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </fieldset>
            <div class="pull-right slight-margin">
              <a href="/staffs" class="btn btn-default cancel">Cancel</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}